# editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.{js, jsx, ts, tsx}]
ij_typescript_space_before_catch_left_brace = true
ij_typescript_space_before_class_lbrace = true
ij_typescript_space_before_class_left_brace = true
ij_typescript_space_before_do_left_brace = true
ij_typescript_space_before_else_left_brace = true
ij_typescript_space_before_finally_left_brace = true
ij_typescript_space_before_for_left_brace = true
ij_typescript_space_before_if_left_brace = true
ij_typescript_space_before_method_left_brace = true
ij_typescript_space_before_switch_left_brace = true
ij_typescript_space_before_try_left_brace = true
ij_typescript_space_before_while_left_brace = true
ij_typescript_spaces_within_object_literal_braces = true
ij_typescript_spaces_within_object_type_braces = true
ij_javascript_space_before_catch_left_brace = true
ij_javascript_space_before_class_lbrace = true
ij_javascript_space_before_class_left_brace = true
ij_javascript_space_before_do_left_brace = true
ij_javascript_space_before_else_left_brace = true
ij_javascript_space_before_finally_left_brace = true
ij_javascript_space_before_for_left_brace = true
ij_javascript_space_before_if_left_brace = true
ij_javascript_space_before_method_left_brace = true
ij_javascript_space_before_switch_left_brace = true
ij_javascript_space_before_try_left_brace = true
ij_javascript_space_before_while_left_brace = true
ij_javascript_spaces_within_object_literal_braces = true
ij_javascript_spaces_within_object_type_braces = true
